h1 {
     text-align: center;
    color: 23, 46, 88;
    font-family: "Oswald", sans-serif;
}

h2 {
    color: 23, 46, 88;
}

h3 {
    color: 23, 46, 88;
}

h4 {
    color: 23, 46, 88;
}

h5 {
    color: 23, 46, 88;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(255, 255, 255);
}

footer {
    padding: 10px;
    text-align: center;
    
}
